{% extends 'layouts/main.html'%}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static 'product.css'%}">
{% endblock %}

{% block content %}
    <form action="/products" method="get">
        <input type="text" name="search">
        <input type="submit" value="Search">
    </form>
    <div class="products">
        {% for product in products %}
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <h5 class="card-title">{{ product.title }}</h5>
                    <h6 class="card-subtitle mb-2 text-muted">Rate: {{ product.rate }}</h6>
                    {% for categorie in product.categories_list %}
                        <p>{{ categorie.title }}</p>
                    {% endfor %}
                    <a href="/products/{{ products.id }}/" class="card-link">More...</a>
                    <a href="#" class="card-link">inst:</a>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="pages">
        {% for page in pages %}
            <a href="/products/?page={{ page }}">
                <button>{{ page }}</button>
            </a>
        {% endfor %}
    </div>
{% endblock %}